footer {
  background-image: url(/assets/footer-background.png);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "CopyrightText FooterLogo .";
  align-items: center;
  padding: 1rem 2rem;
}

.CopyrightText {
  justify-self: center;
  grid-area: CopyrightText;
}

.FooterLogo {
  justify-self: center;
  grid-area: FooterLogo;
}

footer small {
  color: white;
}

.header .logo {
  padding: 2rem;
  width: 500px;
}

@media (max-width: 576px) {
  .header .logo {
    padding: 2rem;
  }

  .header p {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
