<section class="container">
  <header class="header d-flex">
    <h2 class="ff-inter fit-content">Meu Mural</h2>
    <div class="toggle-action">
      <span class="favorite-text ff-inter">Apenas Favoritos</span>
      <button
        class="toggle-button"
        [ngClass]="toggleStyle()"
        (click)="toggleFavorite()"
      ></button>
    </div>
  </header>
  <div class="d-flex">
    <button routerLink="/thoughts/create" class="button">
      Adicionar pensamento
    </button>
    <div class="search-bar">
      <input
        type="search"
        class="filter"
        placeholder="O que você procura?"
        autofocus
        [(ngModel)]="filter"
        (keyup)="searchThoughts()"
      />
      <img src="/assets/search-icon.png" alt="Magnifying Glass" />
    </div>
  </div>
  <div class="thought-wall" *ngIf="thoughtList.length > 0; else emptyList">
    <div *ngFor="let thought of thoughtList">
      <app-card [thought]="thought" [favoriteList]="favoriteList"></app-card>
    </div>
  </div>
</section>
<app-load-more
  [hasNextPage]="hasNextPage"
  (click)="loadNextPage()"
></app-load-more>
<ng-template #emptyList>
  <div class="ff-inter empty-list">
    <p>Ainda não há pensamentos cadastrados!</p>
  </div>
</ng-template>
