<div
  class="thought {{ thought.template }} ff-roboto-mono"
  [ngClass]="thoughtWidth()"
>
  <img src="/assets/{{ thought.template }}.png" alt="Colored quotes" />
  <p class="content">{{ thought.content }}</p>
  <p class="author">
    <b>{{ thought.author }}</b>
  </p>
  <div class="actions">
    <button
      class="update-button"
      routerLink="/thoughts/update/{{ thought.id }}"
    >
      <img src="/assets/update-icon.png" alt="Update icon" />
    </button>
    <button
      class="delete-button"
      routerLink="/thoughts/delete/{{ thought.id }}"
    >
      <img src="/assets/delete-icon.png" alt="Delete icon" />
    </button>
  </div>
</div>
