.actions {
  display: flex;
  justify-content: flex-end;
}

.delete-button {
  border: none;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 10px;
}

.update-button {
  border: none;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
}

.thought {
  background-color: #f8f9fe;
  padding: 1rem;
  box-sizing: border-box;
}

.thought .content {
  margin: 1rem auto;
  word-wrap: break-word;
}

.thought .author {
  word-wrap: break-word;
}

.template1 {
  box-shadow: 8px 8px 0px #154580;
}

.template2 {
  box-shadow: 8px 8px 0px #6bd1ff;
}

.template3 {
  box-shadow: 8px 8px 0px #84eec1;
}

.thought-g {
  width: 556px;
}

.thought-p {
  width: 262px;
}

@media screen and (max-width: 768px) {
  .thought-g {
    width: 100%;
  }
}
@media screen and (max-width: 426px) {
  .thought-p {
    width: 100%;
  }
}
