<section class="container create-thoughts ff-inter">
  <header class="header">
    <h2>Adicione um pensamento novo:</h2>
  </header>
  <form [formGroup]="thoughtForm">
    <label for="thought">Pensamento: *</label>
    <input
      type="textarea"
      class="input"
      id="thought"
      placeholder="Digite o pensamento"
      autocomplete="off"
      formControlName="content"
    />
    <div class="error-message" *ngIf="content?.touched && content?.errors">
      Pensamento é obrigatório!
    </div>
    <label for="author">Autoria ou fonte:</label>
    <input
      type="text"
      class="input"
      id="author"
      placeholder="Digite a autoria ou fonte"
      autocomplete="off"
      formControlName="author"
    />
    <div
      class="error-message"
      *ngIf="author?.touched && 
      author?.errors?.['required']"
    >
      Autoria é obrigatória!
    </div>
    <div
      class="error-message"
      *ngIf="author?.touched &&
      author?.errors?.['minlength']"
    >
      Autoria precisar ter no mínimo 3 caracteres!
    </div>
    <div
      class="error-message"
      *ngIf="author?.touched &&
      author?.errors?.['onlyLowerCaseLetters']"
    >
      Esse campo aceita apenas letras minúsculas
    </div>
    <label for="template">Selecione o modelo do card: *</label>
    <div class="container-radio">
      <div class="radio-template" *ngFor="let template of templates">
        <label [for]="template.id">
          <input
            type="radio"
            [id]="template.id"
            [value]="template.id"
            formControlName="template"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>{{ template.name }}</span>
        </label>
        Prévia:
        <div class="template ff-roboto-mono" [ngClass]="template.id">
          <img [src]="'/assets/' + template.id + '.png'" alt="Colored quotes" />
          <p class="content">{{ content?.value }}</p>
          <p class="author">
            <b>{{ author?.value }}</b>
          </p>
        </div>
      </div>
    </div>
    <div class="actions">
      <button
        (click)="createThought()"
        [ngClass]="handleDisabledButtonStyle()"
        [disabled]="!thoughtForm.valid"
      >
        Salvar
      </button>
      <button (click)="cancel()" class="button w-space">Cancelar</button>
    </div>
  </form>
</section>
